<div class="row">
  <div class="col-6">
    <app-dona
      [title]="title1"
      [doughnutChartData]="data1"
      [doughnutChartLabels]="labels1"
      [colors]="colors1">
    </app-dona>
  </div>
  <div class="col-6">
    <app-dona
      [title]="title2"
      [doughnutChartData]="data2"
      [doughnutChartLabels]="labels2"
      [colors]="colors2">
    </app-dona>
  </div>
  <div class="col-6">
    <app-dona
      [title]="title3"
      [doughnutChartData]="data3"
      [doughnutChartLabels]="labels3"
      [colors]="colors3">
    </app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [title]="title4"
      [doughnutChartData]="data4"
      [doughnutChartLabels]="labels4"
      [colors]="colors4">
    </app-dona>
  </div>
</div>

